services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb 
      SPRING_DATASOURCE_USERNAME: myuser                     
      SPRING_DATASOURCE_PASSWORD: mypassword
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build: ./front_web
    ports:
      - "3000:3000"
    depends_on:
      - backend
  
  # desktop_builder:
  #   build: ./desktop
  #   volumes:
  #     - ./dist:/out
  #   depends_on:
  #     - backend

volumes:
  db_data:




